*{
    box-sizing: border-box;
}
h1{
    color:lightgreen;
    background-color:rgb(139, 190, 81);
    text-align: center;
    padding: 5px;
     width:500px;
     margin: auto;
     
}

div{
    
  border:2px solid black;
  overflow: auto;
background-color: rgb(21, 255, 0);
font-size: 20px;
margin: 10px auto;
width: 400px;
text-align: center;

}
div{
position: sticky;
top: 25px;
}
ul{
    list-style-type: none;
}

li::before{
    
    content: "\260E" " ";
    
}
li{
    width: 350px;
    background-color:lightgreen;
    margin: 20px auto;
      
}

